* {
    --fond: #282454;
    --primaire: #312d5d;
    --secondaire: #1c1848;
}

body{
    background-color: var(--fond);
}

.image_article{
    width: 250px;
    height: 350px;
}

.contenu_boutique{
    display: flex;
    flex-direction: row;
    justify-content: center;
}