* {
    --fond: #282454;
    --primaire: #312d5d;
    --secondaire: #1c1848;
}

body{
    background-color: var(--fond);
}

.image_article{
    width: 250px;
    height: 350px;
    position: absolute;
    flex-direction: row;
}

.contenu_boutique{
    display: flex;
    width: 75%;
    height: 1500px;
    background-color: aliceblue;
    margin: 15%;
    box-sizing: border-box;
    padding: 0;
}