* {
    --fond: #282454;
    --primaire: #312d5d;
    --secondaire: #1c1848;
    font-family: "Google Sans Code", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fond);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    font-family: "Google Sans Code", monospace;
}

.content .text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    transform: scale(2);
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content .text:before,
.content .text:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.content .text:before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
}

.content .text:after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }

    5% {
        clip: rect(17px, auto, 94px, 30px);
    }

    10% {
        clip: rect(40px, auto, 66px, 30px);
    }

    15% {
        clip: rect(87px, auto, 82px, 30px);
    }

    20% {
        clip: rect(137px, auto, 61px, 30px);
    }

    25% {
        clip: rect(34px, auto, 14px, 30px);
    }

    30% {
        clip: rect(133px, auto, 74px, 30px);
    }

    35% {
        clip: rect(76px, auto, 107px, 30px);
    }

    40% {
        clip: rect(59px, auto, 130px, 30px);
    }

    45% {
        clip: rect(29px, auto, 84px, 30px);
    }

    50% {
        clip: rect(22px, auto, 67px, 30px);
    }

    55% {
        clip: rect(67px, auto, 62px, 30px);
    }

    60% {
        clip: rect(10px, auto, 105px, 30px);
    }

    65% {
        clip: rect(78px, auto, 115px, 30px);
    }

    70% {
        clip: rect(105px, auto, 13px, 30px);
    }

    75% {
        clip: rect(15px, auto, 75px, 30px);
    }

    80% {
        clip: rect(66px, auto, 39px, 30px);
    }

    85% {
        clip: rect(133px, auto, 73px, 30px);
    }

    90% {
        clip: rect(36px, auto, 128px, 30px);
    }

    95% {
        clip: rect(68px, auto, 103px, 30px);
    }

    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}

@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }

    5% {
        clip: rect(36px, auto, 4px, 30px);
    }

    10% {
        clip: rect(85px, auto, 66px, 30px);
    }

    15% {
        clip: rect(91px, auto, 91px, 30px);
    }

    20% {
        clip: rect(148px, auto, 138px, 30px);
    }

    25% {
        clip: rect(38px, auto, 122px, 30px);
    }

    30% {
        clip: rect(69px, auto, 54px, 30px);
    }

    35% {
        clip: rect(98px, auto, 71px, 30px);
    }

    40% {
        clip: rect(146px, auto, 34px, 30px);
    }

    45% {
        clip: rect(134px, auto, 43px, 30px);
    }

    50% {
        clip: rect(102px, auto, 80px, 30px);
    }

    55% {
        clip: rect(119px, auto, 44px, 30px);
    }

    60% {
        clip: rect(106px, auto, 99px, 30px);
    }

    65% {
        clip: rect(141px, auto, 74px, 30px);
    }

    70% {
        clip: rect(20px, auto, 78px, 30px);
    }

    75% {
        clip: rect(133px, auto, 79px, 30px);
    }

    80% {
        clip: rect(78px, auto, 52px, 30px);
    }

    85% {
        clip: rect(35px, auto, 39px, 30px);
    }

    90% {
        clip: rect(67px, auto, 70px, 30px);
    }

    95% {
        clip: rect(71px, auto, 103px, 30px);
    }

    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}

/* le conteneur des images et du titre */
.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

/* rajoute une opacité sombre sur les images de fond */
.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*pour eviter que l'opacité sombre soit dérière les images*/
    z-index: 10;
}

/* animations de changement d'image avec un fade in/fade out*/
@keyframes fade{
    0%{
        opacity: 1;
    }

    33%{
        opacity: 0;
    }

    67%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/*fixe la taille des images à 100% de la taille du conteneur*/
/* met les images les une sur les autres et appel la transition*/
.slideshow{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade 9s ease-in-out infinite alternate;
}
/*rajoute un delay sur les animations 
pour faire en sorte que l'animation 
des images ne se produisent pas toutes en même temps*/
.slideshow:nth-of-type(1){
    animation-delay: 0s;
}

.slideshow:nth-of-type(2){
    animation-delay: 3s;
}

.slideshow:nth-of-type(3){
    animation-delay: 6s;
}

/*retire les points de la liste*/
ul{
    list-style: none;
}

/*retire les effects sur les liens*/
a{
    text-decoration: none;
    color:inherit;
}

.headerTop{
    background-color: rgb(0, 0, 0);
}

.headerTop_contenu{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px
}

.logo_img{
    width: 17%;
    height: 17%;
}

.navListTop{
    display: flex;
    column-gap: 70px;
}

.navLinkTop{
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.4s;
}

.navLinkTop:hover{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

@media (max-width: 650px){
    .headerTop_contenu{
        flex-direction: column;
        padding: 25px 0;
        row-gap: 18px;
    }

    .logo_img{
        height: 60px;
        width: 60px;
    }

    .headerBot{
        background-color: rgba(0, 0, 0, 0.8);
        position:fixed;
        z-index: -1;
        display: flex;
        margin-left: 5px;
    }

}

.headerBot{
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    top: 0;
    z-index: -1;
    display: flex;
    margin-left: 35vw;
}

.headerBot_contenu{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}

.navListBot{
    display: flex;
    column-gap: 70px;
}

.navLinkBot{
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.4s;
}

.navLinkBot:hover{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}